html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
    font-size: 16px;
}
body {
    min-width: 320px;
    margin: 0 auto;
}

a {
    background-color: transparent;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}

button, input, select {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}

button, html input[type=button], input[type=submit] {
    cursor: pointer;
}
input {
    line-height: normal;
}

img {
    border: 0;
}

h1 {
    margin: 0 0 0.4em;
}
h2, h3, h4 {
    margin: 0.75em 0 0.25em;
}
h1, h2, h3, h4 {
    color: #fff;
}

:root {
    --main-color: #e50914;
}

::placeholder{
    font-size: 1rem;
}

/* Clearing floats */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Showcase */
.showcase {
    /* There will be some elements-position:absolute inside */
    position: relative;
    width: 100%;
    /* height: 845.781px; */
    height: 853.781px;
    /* padding: 50px 5%; */
    box-sizing: border-box;
    border-bottom: solid 0.5rem #222;
    /* background: url(../images/background.jpg) no-repeat center center/cover; */
    /* background-image: url(../images/background-large.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
/* .showcase-body {
    padding: 50px 5%;
} */
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .showcase-body {
        /* padding: 70px 45px; */
    }
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .showcase {
        /* height: 790.781px; */
        height: 788.781px;
    }
}
@media only screen and (min-width:740px) and (max-width:949px) {
    .showcase {
        /* height: 812px; */
        height: 815px;
    }
}
@media only screen and (min-width:586px) and (max-width:739px) {
    .showcase {
        /* height: 788px; */
        height: 791px;
    }
}
@media only screen and (min-width:550px) and (max-width:585px) {
    .showcase {
        /* height: 843px; */
        height: 846px;
    }
}
@media only screen and (min-width:444px) and (max-width:549px),
only screen and (min-width:364px) and (max-width:399px) {
    .showcase {
        /* height: 540.391px; */
        height: 543.391px;
    }
}
@media only screen and (min-width:409px) and (max-width:443px) {
    .showcase {
        /* height: 570.391px; */
        height: 573.391px;
    }
}
@media only screen and (min-width:400px) and (max-width:408px) {
    .showcase {
        /* height: 593.391px; */
        height: 596.391px;
    }
}
@media only screen and (min-width:350px) and (max-width:363px) {
    .showcase {
        /* height: 563.391px; */
        height: 566.391px;
    }
}
@media only screen and (max-width:349px) {
    .showcase {
        /* height: 533.391px; */
        height: 536.391px;
    }
}

/* SC: Background image */
.showcase-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.showcase-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SC: Background blur */
.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Above showcase & background-img */
    z-index: 1;
    background: rgba(0,0,0,0.4);
    /* linear 0.8 - 0: 0% - 60%; 0 - 0.8: 60% - 100% */
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8) 0,
        rgba(0,0,0,0) 60%,rgba(0, 0, 0, 0.8) 100%);
    /* inset=inner-shadow | horizontal vertical blur spread color
    negative value of h- & v- is left & above
    negative value of spread descrease the size of shadow
    inset invert value: negative h- & v- = right & below
    inset spread:-100 => left:-100 top:100 blur:200 color:black */
    /* box-shadow: inset 0px 200px 200px -100px #000, inset 0px -200px 200px -100px #000; */
}

/* SC: Header */
.showcase-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.showcase-top-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    height: 5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    z-index: 2;
}
.showcase {
    box-sizing: border-box;
    padding: 170px 45px 70px;
}
.showcase-top--margin {
    /* position: relative; */
    margin: 0 3.5rem;
    height: 100%;
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .showcase-top-content {
        height: 4rem;
    }
    .showcase {
        padding: 154px 5% 70px;
    }
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .showcase-top--margin {
        margin: 0 45px;
    }
    .showcase-top-content {
        height: 45px;
    }
    .showcase {
        padding: 135px 5% 70px;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .showcase-top--margin {
        margin: 0 5%;
    }
    .showcase-top-content {
        height: 45px;
    }
    .showcase {
        padding: 114px 5% 50px;
    }
}

/* SC: Header - Logo & Sign In button */
.showcase-top-content img {
    float: left;
    height: 45px;
    width: auto;
    padding-top: 0.5rem;
}
.showcase-top-content a {
    float: right;
    margin-top: 0.5rem;
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .showcase-top-content img {
        height: 36px;
    }
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .showcase-top-content img {
        height: 32px;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .showcase-top-content img {
        height: 24px;
    }
    .showcase-top-content a {
        font-size: 0.9rem;
        margin-top: 0.35rem;
        padding: 0.25rem 0.5rem;
    }
}

/* SC: Main content */
.showcase-content {
    position: relative;
    width: 100%;
    max-width: 950px;
    padding: 75px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
@media only screen and (min-width:400px) and (max-width:549px) {
    .showcase-content {
        padding: 30px 0;
    }
}
@media only screen and (min-width:350px) and (max-width:399px) {
    .showcase-content {
        padding: 15px 0;
    }
}
@media only screen and (max-width:349px) {
    .showcase-content {
        padding: 0
    }
}

.showcase-content h1, .showcase-content h2 {
    max-width: 640px;
    margin: 0 auto;
}
.showcase-content h1 {
    font-size: 1.75rem;
    line-height: 1.1;
}
.showcase-content h2 {
    font-size: 1.125rem;
    margin: 1rem auto;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px) {
    .showcase-content h1 {
        font-size: 3.125rem;
    }
    .showcase-content h2 {
        font-size: 1.625rem;
    }
}
@media only screen and (min-width:1450px) {
    .showcase-content h1, .showcase-content h2 {
        max-width: 800px;
    }
    .showcase-content h1 {
        font-size: 4rem;
    }
    .showcase-content h2 {
        font-size: 1.625rem;
    }
}

/* Information Cards */
.card {
    padding: 50px 5%;
    border-bottom: solid 0.5rem #222;
}
/* .card:first-of-type {
    border-top: solid 0.5rem #222;
} */
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card {
        padding: 70px 45px;
    }
}

/* ICs: Container */
.card-story {
    max-width: 1100px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story {
        flex-direction: column;
    }
    .card-story.flipped {
        flex-direction: column-reverse;
    }
}

/* ICs: Text */
.card-story__text {
    width: 52%;
    position: relative;
    flex-grow: 0;
    padding-right: 3rem;
    margin: -5% 0;
    z-index: 2;
    box-sizing: content-box;
}
.card-story__text.flipped {
    padding-right: 0px;
    padding-left: 3rem;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__text {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.card-story__text h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;;
}
.card-story__text h2, .card-story__text ul.faq-list {
    font-size: 1.625rem;
    font-weight: 400
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-story__text h1 {
        font-size: 2.5rem;
    }
    .card-story__text h2, .card-story__text ul.faq-list {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__text h1 {
        font-size: 1.625rem;
    }
    .card-story__text h2, .card-story__text ul.faq-list {
        font-size: 1.125rem;
    }
}   

/* ICs: Animations aside Text */
.card-story__content {
    width: 48%;
    box-sizing: border-box;
}
.card-story__content .card-img__tv,
.card-story__content .card-img__devices,
.card-story__content .card-img__mobile {
    position: relative;
    /* width: 48%; */
    height: 100%;
    z-index: 1;
}
.card-story__content img{
    max-width: 100%;
    height: auto;
}
.card-story__content .card-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.card-story__content .card-video__tv {
    width: 75%;
    top: 48%;
}
.card-story__content .card-video__devices {
    width: 62%;
    top: 34%;
}
.card-story__content .card-img__tv {
    margin: -10% -5% -5% 0;
}
.card-story__content .card-img__devices {
    margin: -5% -10% 0 0;
}
.card-story__content .card-img__mobile {
    margin: -8% 0 -4% -15%;
    min-height: 100px;
    width: 100%
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__content {
        width: 100%;
        height: 100%;
        max-width: 600px;
        margin-top: 1rem;
    }
    .card-story__content .card-img__tv {
        margin: -10% 0 0 0;
    }
    .card-story__content .card-img__devices {
        margin: 0;
    }
    .card-story__content .card-img__mobile {
        margin: -8% 0 0 0;
    }
}

/* ICs: Animations - Animation Block above Mobile image */
.card-animation {
    position: absolute;
    width: 60%;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: solid 2px rgba(255,255,255,0.25);
    border-radius: 0.75rem;
    background-color: #000;
    overflow: hidden;
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:550px) and (max-width:949px) {
    .card-animation {
        padding: 0.35rem 0.75rem;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card-animation {
        padding: 0.5rem 0.75rem;
        /* left: 35%; */
    }
}

.card-animation img {
    height: 3rem;
    width: auto;
    margin-right: 1rem;
    flex: none;
}
.card-animation img:last-of-type {
    height: 3rem;
    width: auto;
    margin: 0;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-animation img {
        height: 4rem;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .card-animation img {
        height: 4.5rem;
    }
}
@media only screen and (min-width:1450px) {
    .card-animation img {
        height: 5rem;
    }
}

.card-animation__text {
    width: 100%;
}
.card-animation__text h1 {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
}
.card-animation__text h2 {
    color: #0071eb;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card-animation__text h1 {
        font-size: 1rem;
    }
    .card-animation__text h2 {
        font-size: 0.9rem;
    }
}

/* ICs: FAQ */
.card.faq {
    text-align: center;
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card.faq{
        padding: 50px 0;
    }
    .card.faq h1 {
        padding-left: 5%;
        padding-right: 5%;
    }
}
.card-faq {
    display: block;
    margin: auto;
    overflow: hidden;
}
.card-faq .card-story__text {
    padding: 0;
    width: 100%;
    margin: auto;
}
.card-faq .faq-list {
    max-width: 815px;
    margin: 1.25em auto;
    padding: 0;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-faq .faq-list {
        width: 90%;
        margin: 1.5em auto;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card-faq .faq-list {
        width: 75%;
        margin: 2em auto;
    }
}

.card-faq ul {
    list-style: none;
}
.card-faq li {
    margin-bottom: 0.5rem;
}

.faq-question {
    position: relative;
    width: 100%;
    margin-bottom: 1px;
    padding: 0.8em 2.2em 0.8em 1.2em;
    /* font-size: 1.6rem; */
    text-align: left;
    font-weight: 400;
    color: #fff;
    background-color: #303030;
    outline: none;
    border: none;
}
/* Cause of Font => Netflix seems bigger than Helvetica */
/* .faq-question h2 {
    margin: 2px 0 0;
} */
.faq-question span {
    position: absolute;
    right: 1em;
    top: 33%;
    transition-duration: 0.2s;
    transition-property: transform;
}
.fa-plus-rotate {
    transform: rotate(45deg);
}
.faq-answer {
    max-height: 1200px;
    padding: 1.2em;
    /* font-size: 1.6rem; */
    line-height: 2rem;
    text-align: left;
    background-color: #303030;
    color: #fff;
}
.show {
    display: block;
}

/* Footer */
.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 5% 0px;
    color: #757575;
}
@media only screen and (max-width: 949px) and (min-width: 550px),
only screen and (max-width: 1449px) and (min-width: 950px),
only screen and (min-width: 1450px) {
    .footer {
        padding: 70px 45px 0px;
    }
}

.footer-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 1rem;
    min-width: 190px;
}

.footer-container a {
    color: #757575;
}
.footer-container a:hover {
    text-decoration: underline;
}

.footer-top {
    padding: 0;
    margin: 0 0 30px;
}

.footer-content {
    box-sizing: border-box;
}
.footer-cols {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.footer-cols li {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-width: 100px;
    margin-bottom: 16px;
    padding: 0;
    padding-right: 12px;
    vertical-align: top;
    font-size: 13px;
}
@media only screen and (max-width:740px) {
    .footer-cols {
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width:500px) {
    .footer-cols {
        grid-template-columns: repeat(2,1fr);
    }
}

.footer select {
    display: block;
    margin-top: 20px;
    color: #999;
    background-color: rgba(0,0,0,0);
    padding: 1rem;
    font-size: 1rem;
}
.footer p {
    display: block;
    margin: 24px 0 13px;
    font-size: 13px;
}


/* Form: Email */
.form-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .form-email {
        max-width: 950px;
        padding-top: 0.85rem;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-faq .form-email {
        padding: 0 5%;
    }
}
h3 {
    font-size: 18px;
}
@media screen and (min-width:740px) {
    h3 {
        font-size: 23px;
    }
}
.form-email h3 {
    padding: 0 5%;
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:550px) and (max-width:949px) {
    .form-email h3 {
        padding: 0 10%;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .form-email h3 {
        max-width: none;
        padding-bottom: 20px;
        font-size: 1.2rem;
    }
}
.form-email .sub-info {
    font-size: 1.2rem;
    font-weight: 400;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .form-email .sub-info {
        font-size: 1rem;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .form-email .sub-info {
        font-size: 0.9rem;
    }
}


.form-email .input-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 4rem; */
    margin: 0 auto;
    width: 100%;
}
.form-email .input-main input {
    float: left;
    max-width: 500px;
    /* width: 100%; */
    height: 60px;
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px 0;
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .form-email .input-main input {
        min-width: 450px;
        /* height: 60px; */
    }
}
@media only screen and (min-width:1450px) {
    .form-email .input-main input {
        min-width: 500px;
        height: 70px;
    }
}
@media only screen and (max-width:949px) {
    .form-email .input-main {
        /* display: block; */
        flex-direction: column;
    }
    .form-email .input-main input {
        height: 48px;
        width: 100%;
        /* padding: 0 10px 0; */
        margin: 10px auto;
        /* height: 60px; */
    }
}
@media only screen and (max-width:739px) {
    .form-email .input-main input {
        height: 48px;
    }
}

/* Form: Email - Button */
.btn {
    /* Block inline w other elements */ 
    /* display: inline-block; */
    /* #e50914 */
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;

    position: relative;
    display: inline-flex;
    align-items: center;
    width: auto;
    min-width: 74px;
    margin: 0.25em auto;
    padding: 0 1em;
    box-sizing: border-box;
}
.btn:hover {
    background-color: #f10a12;
}
.btn-rounded {
    border-radius: 3px;
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .btn {
        padding: 0 1em;
        margin: 0;
    }
}
.btn-lg {
    font-size: 1rem;
    min-height: 40px;
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .btn-lg {
        font-size: 1.625rem;
        min-height: 60px
    }
}
@media only screen and (min-width:1450px) {
    .btn-lg {
        font-size: 1.875rem;
        min-height: 70px
    }
}
.btn-content {
    padding: 0.35rem 0;
    text-align: center;
}
.btn-text {
    margin-right: 2px;
}
@media only screen and (max-width: 1449px) and (min-width: 950px),
only screen and (min-width: 1450px) {
    .btn-content {
        padding: 0.5rem 0;
    }
    .btn-text--long {
        font-size: 1.25rem;
    }
    .btn-text--long+.fa-angle-right{
        font-size: 80%;
    }
}

