* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}
body {
    min-width: 320px;
    margin: 0 auto;
}

a {
    background-color: transparent;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}

button, input, select {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}

button, html input[type=button], input[type=submit] {
    cursor: pointer;
}
input {
    line-height: normal;
}

img {
    border: 0;
}

ul {
    list-style: none;
}

h1 {
    margin: 0 0 0.4em;
}
h2, h3 {
    margin: 0.75em 0 0.25em;
}

:root {
    --main-color: #e50914;
}

::placeholder{
    font-size: 1rem;
}

/* Clearing floats */
.clearfix {
    content: "";
    display: table;
    clear: both;
}


/* Showcase */
.showcase {
    /* There will be some elements-position:absolute inside */
    position: relative;
    width: 100%;
    height: 845.781px;
    /* background: url(../images/background.jpg) no-repeat center center/cover; */
    /* background-image: url(../images/background-large.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .showcase {
        height: 790.781px;
    }
}
@media only screen and (min-width:740px) and (max-width:949px) {
    .showcase {
        height: 812px;
    }
}
@media only screen and (min-width:586px) and (max-width:739px) {
    .showcase {
        height: 788px;
    }
}
@media only screen and (min-width:550px) and (max-width:585px) {
    .showcase {
        height: 843px;
    }
}
@media only screen and (min-width:444px) and (max-width:549px),
only screen and (min-width:364px) and (max-width:399px) {
    .showcase {
        height: 540.391px;
    }
}
@media only screen and (min-width:409px) and (max-width:443px) {
    .showcase {
        height: 570.391px;
    }
}
@media only screen and (min-width:364px) and (max-width:408px) {
    .showcase {
        height: 593.391px;
    }
}
@media only screen and (min-width:350px) and (max-width:363px) {
    .showcase {
        height: 563.391px;
    }
}
@media only screen and (max-width:349px) {
    .showcase {
        height: 533.391px;
    }
}

.showcase-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.showcase-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Black blur */
.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Above showcase & background-img */
    z-index: 1;
    background: rgba(0,0,0,0.4);
    /* linear 0.8 - 0: 0% - 60%; 0 - 0.8: 60% - 100% */
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8) 0,
        rgba(0,0,0,0) 60%,rgba(0, 0, 0, 0.8) 100%);
    /* inset=inner-shadow | horizontal vertical blur spread color
    negative value of h- & v- is left & above
    negative value of spread descrease the size of shadow
    inset invert value: negative h- & v- = right & below
    inset spread:-100 => left:-100 top:100 blur:200 color:black */
    /* box-shadow: inset 0px 200px 200px -100px #000, inset 0px -200px 200px -100px #000; */
}

.showcase-top {
    position: relative;
    height: 5rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    margin: 0px 56px;
    z-index: 2;
}
.showcase-top img {
    /* position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-25%,-50%); */
    /* width: 167px; */
    float: left;
    margin: 0.5rem 0px 0px;
}
.showcase-top a {
    /* position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(50%,-50%); */
    float: right;
    margin: 0.5rem 0px 0px;
}

/* All h3 */
h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.showcase-content {
    position: relative;
    width: 100%;
    max-width: 950px;
    padding: 75px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}
@media only screen and (min-width:400px) and (max-width:549px) {
    .showcase-content {
        padding: 30px 0
    }
}
@media only screen and (min-width:350px) and (max-width:399px) {
    .showcase-content {
        padding: 15px 0
    }
}
@media only screen and (max-width:349px) {
    .showcase-content {
        padding: 0
    }
}

.showcase-content h1, .showcase-content h2 {
    max-width: 640px;
    margin: 0 auto;
}
@media only screen and (min-width: 1450px) {
    .showcase-content h1, .showcase-content h2 {
        max-width: 800px;
    }
}
.showcase-content h1 {
    font-size: 1.75rem;
    line-height: 1.1;
    margin: 0 auto;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .showcase-content h1 {
        font-size: 3.125rem;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .showcase-content h1 {
        font-size: 4rem;
    }
}
.showcase-content h2 {
    font-size: 1.125rem;
    margin: 1rem auto;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .showcase-content h2 {
        font-size: 1.625rem;
    }
}

/* Information Cards */
.card {
    padding: 50px 5%;
    border-bottom: solid 0.5rem #222;
}
.card:first-of-type {
    border-top: solid 0.5rem #222;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card {
        padding: 70px 45px;
    }
}

.card-story {
    max-width: 1100px;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story {
        flex-direction: column;
    }
    .card-story.flipped {
        flex-direction: column-reverse;
    }
}

.card-story__text {
    width: 52%;
    position: relative;
    flex-grow: 0;
    padding-right: 3rem;
    margin: -5% 0;
    z-index: 2;
    box-sizing: content-box;
}
.card-story__text.flipped {
    padding-right: 0px;
    padding-left: 3rem;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__text {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }
}

.card-story__text h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-story__text h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__text h1 {
        font-size: 1.625rem;
    }
}
.card-story__text h2 {
    font-size: 1.625rem;
    font-weight: 400
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-story__text h2 {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__text h2 {
        font-size: 1.125rem;
    }
}

.card-story__content {
    position: relative;
    width: 48%;
    height: 100%;
    z-index: 1;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__content {
        width: 100%;
        height: 100%;
        max-width: 600px;
        margin-top: 1rem;
    }
}

.card-story__content img{
    width: 100%;
    height: 100%;
}
.card-story__content .card-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.card-story__content .card-video__tv {
    width: 75%;
}
.card-story__content .card-video__devices {
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-85%);
}

.card-story__content .card-img__tv {
    margin: -10% -5% -5% 0;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__content .card-img__tv {
        margin: -10% 0 0 0;
    }
}
.card-story__content .card-img__devices {
    margin: -5% -10% 0 0;
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__content .card-img__devices {
        margin: 0;
    }
}
.card-story__content .card-img__mobile {
    margin: -8% 0 -4% -15%;
    min-height: 100px;
    width: 100%
}
@media only screen and (min-width:550px) and (max-width:949px),
only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:350px) and (max-width:399px),
only screen and (max-width:349px) {
    .card-story__content .card-img__mobile {
        margin: -8% 0 0 0;
    }
}


.card-animation {
    position: absolute;
    width: 60%;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: solid 2px rgba(255,255,255,0.25);
    border-radius: 0.75rem;
    background-color: #000;
    overflow: hidden;
}
@media only screen and (min-width:400px) and (max-width:549px),
only screen and (min-width:550px) and (max-width:949px) {
    .card-animation {
        padding: 0.35rem 0.75rem;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px),
only screen and (min-width:1450px) {
    .card-animation {
        padding: 0.5rem 0.75rem;
        left: 35%;
    }
}

.card-animation img {
    height: 3rem;
    width: auto;
    margin-right: 1rem;
    flex: none;
}
.card-animation img:last-of-type {
    height: 3rem;
    width: auto;
    margin-right: 0.5rem;
    margin-left: 1rem;
}
@media only screen and (min-width:550px) and (max-width:949px) {
    .card-animation img {
        height: 4rem;
    }
}
@media only screen and (min-width:950px) and (max-width:1449px) {
    .card-animation img {
        height: 4.5rem;
    }
}
@media only screen and (min-width:1450px) {
    .card-animation img {
        height: 5rem;
    }
}

.card-animation__text {
    width: 100%;
}
.card-animation__text h1 {
    font-size: 1rem;
    font-weight: 500;
}
.card-animation__text h2 {
    font-size: 0.9rem;
    font-weight: normal;
    color: #0071eb;
}

.card-faq {
    display: block;
    margin: auto;
    
}
.card-faq .card-story__text {
    padding: 0;
    text-align: center;
    width: 75%;
    margin: auto;
}
.card-faq .faq-list {
    text-align: left;
    margin: 2rem auto;
}
.faq-question {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1.5rem 2rem;
    text-align: left;
    font-size: 1.6rem;
    background-color: #303030;
    color: #fff;
    border: none;
    border-bottom: solid 1px #000;
    outline: none;
    cursor: pointer;
}
.faq-question span {
    float: right;
    transition-duration: 0.2s;
    transition-property: transform;
}
.fa-plus-rotate {
    transform: rotate(45deg);
}
.faq-answer {
    padding: 2rem;
    text-align: left;
    font-size: 1.6rem;
    line-height: 2rem;
    background-color: #303030;
    color: #fff;
}
.show {
    display: block;
}


/* Email form */
.form-email h3{
    line-height: 1.1;
    margin: 1rem 0;
    text-align: center;
}
.form-email .input-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.form-email .input-main input {
    float: left;
    height: 100%;
    min-width: 50%;
    padding: 0 0.5rem;
    font-size: 1rem;
}
.form-email .input-main input:focus {
    outline: 0;
}
.form-email .input-main .btn {
    float: right;
    height: 100%;
    padding: 0 2rem;
    margin: 0;
    margin-left: -5px;
}


/* Footer */
.footer {
    width: 50%;
    margin: auto;
    padding-bottom: 0;
}
.footer a {
    color: #999;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p {
    margin: 2rem 0;
    font-size: 0.8rem;
}
.footer-top {
    margin: 4rem 0 1.5rem;
}
.footer-cols {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}
.footer li {
    line-height: 2rem;
    font-size: 0.8rem;
}
.footer select {
    margin-top: 1.5rem;
    color: #999;
    background-color: rgba(0,0,0,0);
    padding: 1rem;
    font-size: 1rem;
}


/* Buttons */
.btn {
    /* Block inline w other elements */ 
    display: inline-block;
    /* #e50914 */
    background-color: var(--main-color);
    color: #fff;
    /* padding: 7px 17px; */
    padding: 0.4rem 1.1rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    /* font-weight: 400; */
    text-align: center;
    border: none;
    /* mouse display=pointer when pointing over an element */
    cursor: pointer;
    /* text-decoration: none; */
    outline: none;
    /* right:0 bottom:1 blur:0 color:(black-opacity:0.45) */
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px;
}
button.btn:hover {
    background-color: #f10a12;
}
.btn-rounded {
    border-radius: 3px;
}
.btn-xl {
    font-size: 1.2rem;
    padding: 1.5rem 2.1rem;
}
.btn-lg {
    font-size: 1rem;
    padding: 0.6rem 1.1rem;
}


/* Media queries */
@media only screen and (max-width: 949px) and (min-width: 550px),
only screen and (max-width: 1449px) and (min-width: 950px),
only screen and (min-width: 1450px) {}

@media only screen and (max-width: 949px) and (min-width: 550px) and (orientation: portrait),
only screen and (max-width: 549px) and (min-width: 400px),
only screen and (max-width: 399px) and (min-width: 350px),
only screen and (max-width: 349px) {}